
.select {
  width: 260px;

  &.opened {
    .select__input {
      border-bottom: none;
    }
    .select__dropdown {
      display: block;
    }

    .select__input-icon {
      transform: rotate(180deg);
    }
  }

  &-item {

    &__label {
      margin-bottom: 8px;
    }
  }

  &__input {
    width: 100%;
    height: $heigh-select;
    padding: 0 12px;
    border-width: 1px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    &-text {
      font-weight: 400;
      font-size: 13px;
      color: $base-color;
      opacity: 0.5;
    }
  }

  &__dropdown {
    display: none;
    min-height: 200px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
  }

  &__item {
    width: 100%;
    padding: 10px 12px;
    border-bottom: 1px solid #E0E0E0;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(224, 224, 224, 0.3);
    }
  }
}