
.select {

  width: 260px;

  &.opened {
    .select__input {
      border-bottom: none;
    }
    .select__dropdown {
      display: block;
    }

    .select__input-icon {
      transform: rotate(180deg);
    }

    .select__backdrop {
      display: block;
    }
  }

  &-item {

    &__label {
      margin-bottom: 8px;
    }
  }

  &__input {
    position: relative;
    z-index: 100;
    width: 100%;
    height: $heigh-select;
    padding: 0 12px;
    border-width: 1px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    &-text {
      font-weight: 400;
      font-size: 13px;
      color: $base-color;
      // opacity: 0.5;
    }
  }

  &__dropdown {
    position: relative;
    z-index: 100;
    display: none;
    min-height: 200px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
  }

  &__item {
    width: 100%;
    padding: 10px 12px;
    border-bottom: 1px solid #E0E0E0;

   &.selected {
    background-color: $accent-color;
   }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(224, 224, 224, 0.3);
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    display: none;
  }
}